/* Remember to link your fonts */

@font-face {
    font-family: 'Roboto';
    font-weight: 500,700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
}
@font-face {
    font-family: 'Space Mono';
    font-weight: 400,700;
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/spacemono/v10/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
}

/* Native support for smooth scrolling on hash id scrolls. */

html {
    scroll-behavior: smooth;
}

/* Remember to organize your selectors */

body {
    font-family: Roboto, tahoma, sans-serif;
}

/* Top Bar */

div.top {
    height: 130px;
}

.top div /*Width container*/{
    box-sizing: content-box;
    width: 90%;
    margin: 0 auto;
    padding: 55px 0 0 0;
}

.top p {
    float: right;
}

.feedback {
    font-family: 'Space Mono', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    color: #1127EF;
}

.feedback:hover {
    text-decoration: none;
}

.logo {
    transition: all 200ms ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
}

/*Banner*/

main {
    box-sizing: content-box;
    width: 80%;
    margin: 20px auto;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 30px!important;
}

p.description {
    font-family: 'Space Mono', Courier, monospace;
    font-size: 20px;
    line-height: 1.5;
    box-sizing: content-box;
    width: 70%;
    margin-bottom: 30px !important;
}

.banner {
    display: inline-block;
    width: 50%;
}

div.author {
    width: 50%;
    margin-bottom: 90px;
}

.author img{
    display: inline-block;
}

.author p {
    font-family: 'Space Mono', Courier, monospace;
    font-size: 12px;
    line-height: 1.4;
    color: #000000;
    /*In order for this to work, the other container must be a inline-block*/
    float: right;
    clear: both;
    margin-top: 11px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Navegation*/

nav {
    /*In order for this to work, the other container must be a inline-block*/
    float: right;
    clear: both;
}

.strong {
    font-weight: 700;
}

button {
    border: .7px solid #1127EF;
    background-color: transparent;
    box-sizing: border-box;
    width: 170px;
    padding: 18px 50px;
    margin-left: 40px;
    border-radius: 50px;
    font-family: 'Space Mono', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    color: #1127EF;
    transition: all 200ms ease-in;
}

.btn-group-1 {
    margin: 100px auto 30px;
}

button:hover {
    background-color: #1127EF;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

/*Secundary Nav*/

aside {
    transform: rotate(-90deg);
    position: fixed;
    bottom: 35%;
    left: 81%;
    width: 600px;
}

aside ul {
    color: #1127EF;
    font-family: 'Space Mono', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
    
}

aside li {
    display: inline-block;
    margin: 0 10px;
}




.background {
    background-color: #EFEFEF;
}
.cheatsheets div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
}
.cheatsheets h2 {
    font-size: 32px;
    margin: 20px 0 40px;
    
}

.cheatsheets h3 {
    margin: 60px 0 40px;
    font-family: 'Space Mono', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
}

/*Tables*/
table {
    font-family: 'Space Mono', Courier, monospace;
    font-size: 16px;
    margin: 0 auto!important;
    empty-cells: show;
    
}

.table1, .table3, .table4 {
    width: 90%;
}

.table2 {
    width: 60%;
}

.table1 tr, .table2 tr, .table4 tr {
    border: 5px solid #EFEFEF!important;
    border-collapse: collapse;
}

.table3 tr {
    border: 5px solid #ffffff !important;
    border-collapse: collapse;
}


td, th {
    background-color: #E3E3E3;
    padding: 15px 40px!important;
    text-align: left;
    line-height: 1.1;
    height: 30px;
}

.table4 td {
    height: 100px!important;
}

tr span {
    color: #6d6d6d;
    font-style: italic;
}

#description {
    font-style: italic!important;
}

/*In every row the last <td> the font style and color will change*/
.table1 td:nth-child(4),
.table2 td:nth-child(3) {
    font-style: italic;
    color: #6d6d6d;
}


/*Coming Soon*/

.coming-soon {
    font-family: 'Space Mono', Courier, monospace;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 100px;
    width: 80%;
}

#comingsoon {
    width: 80%;
    margin: 50px 20px 50px 150px;
    text-align: center;
}

#comingsoon h2 {
    margin-top: 20px;
}

#comingsoon div {
    display: inline-block;
    margin: 40px 7vw;
}

/*Footer*/

footer {
    background-color: #EFEFEF;
}
footer div {
    width: 90%;
    margin: 0 auto;
}

footer p {
    display: inline-block;
    margin: 80px 0;
}

.author-footer {
    margin: 0 680px 0 630px;
    font-family: 'Space Mono', Courier, monospace;
    font-size: 14px;
    color: #606060;
    text-align: center;
    line-height: 1.8;
}



